<html>
    <head>
        <title>Museo</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div class="centro">
            <p>Museo di storia naturale</p>
            <img src = "{{url_for('static', filename='images/museo.jpg')}}">
        </div>
        <div class="principale">
            <a href = "/visitasingola"><img src = "{{url_for('static', filename='images/persona.jpg')}}" class="piccolo"></a>
            <a href = "/visitagruppo"><img src = "{{url_for('static', filename='images/gruppo.jpg')}}" class="piccolo"></a> 
            <a href = "/visitaguidata"><img src = "{{url_for('static', filename='images/giuda.jpg')}}" class="piccolo"></a>
        </div>
    </body>
</html>