<html>
    <head>
        <title>Museo</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div class="centro">
            <p>Museo di storia naturale</p>
            <img src = "{{url_for('static', filename='images/museo.jpg')}}">
        </div>
        <div class="principale">
            <img src = "{{url_for('static', filename='images/persona.jpg')}}" class="piccolo">
            <img src = "{{url_for('static', filename='images/gruppo.jpg')}}" class="piccolo"> 
            <img src = "{{url_for('static', filename='images/guida.jpg')}}" class="piccolo">
        </div>
    </body>
</html>